<animated-fade-in-up-big>
  <simple-panel-row title="Basic Alerts">
    <basic-alert-info>
      Heads up! This alert needs your attention, but it's not super important.
    </basic-alert-info>

    <basic-alert-danger>
      Oh snap! Change a few things up and try submitting again.
    </basic-alert-danger>

    <basic-alert-warning>
      Warning! Best check yo self, you're not looking too good.
    </basic-alert-warning>

    <basic-alert-success>
      Well done! You successfully read this important alert message.
    </basic-alert-success>
  </simple-panel-row><!-- /simple-panel-row -->

  <simple-panel-row title="Dismissable Alerts">
    <columns-separation columns="6">
      <dismissable-alert-info title="Disc Space was extended twice.">
        <p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
        <button-info href="#fakepage" name="Turn ir off now"></button-info>
        <button-primary href="#fakepage" name="It's ok"></button-primary>
      </dismissable-alert-info>
      <dismissable-alert-danger title="Disc Space was extended twice.">
        <p>An error message is information displayed when an <link-text href="#fakelink">unexpected condition occurs</link-text>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
        <button-danger href="#fakepage" name="Turn ir off now"></button-danger>
        <button-warning href="#fakepage" name="It's ok"></button-warning>
      </dismissable-alert-danger>
    </columns-separation>
    <columns-separation columns="6">
      <dismissable-alert-success title="Disc Space was extended twice.">
        <p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
        <button-primary-checked href="#fakepage" name="Hurray"></button-primary-checked>
        <button-info href="#fakepage" name="Share on twitter"></button-info>
      </dismissable-alert-success>
      <dismissable-alert-warning title="Disc Space was extended twice.">
        <p>An error message is information displayed when an <link-text href="#fakelink">unexpected condition occurs</link-text>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
        <button-warning href="#fakepage" name="Fix it"></button-warning>
        <button-success href="#fakepage" name="Okey, no probs"></button-success>
      </dismissable-alert-warning>
    </columns-separation>
  </simple-panel-row>
  <simple-panel-row title="Other Alerts">
    <dark-alert-warning>
      Alert! you can use an Orange alert
    </dark-alert-warning>
    <dark-alert-success>
      Great success! you can use green color too
    </dark-alert-success>
    <dark-alert-info>
      Important! you can use the blue to display information
    </dark-alert-info>
    <dark-alert-danger>
      Error! you can use this background for errors.
    </dark-alert-danger>
  </simple-panel-row>
</animated-fade-in-up-big>
