<!-- row -->
<div class="row animated fadeInUpBig" ng-controller="barChartsCtrl">
	<!-- *** Bi Polar Bar chart *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Bi-Polar Bar chart
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="bi-polar" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->


	<!-- *** OVERLAPPING BARS ON MOBILE *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Overlapping Bars On Mobile
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="overlapping-bars" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row">
	<!-- *** ADD PEAK CIRCLES USING THE DRAW EVENTS *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Add Peak Circles Using The Draw Events
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="peak-cirles" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->


	<!-- *** Multi Line Labels *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Multi Line Labels
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="multiline-bar" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row">
	<!-- *** Stacked Bar Chart *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Stacked Bar Chart
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="stacked-bar" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->


	<!-- *** Horizontal Bar Chart *** -->
	<div class="col-md-6">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Horizontal Bar Chart
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="bar-horizontal" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-6 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row">
	<!-- *** Extreme Responsve Configuaration *** -->
	<div class="col-md-12">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Extreme Responsve Configuaration
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i> 
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i> 
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i> 
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div id="bar-extreme" class="ct-chart ct-golden-section"></div>
			</div>
		</div>
		<!-- /panel -->
	</div>
</div>
<!-- /row -->