<div class="animated fadeInUpBig" ng-controller="lineAreaChartsCtrl">
	<!-- row -->
				<div class="row">
					<!-- *** Smil Animations *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Smil Animations
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="smil-animations" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->

	
					<!-- *** Line Area Animation *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Line Area Animation
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-area-animate" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->
				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">
					<!-- *** Line Area Chart *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Simple Line Area Chart
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-area" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->

	
					<!-- *** Bipolar Line Area *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Bipolar Line Area
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-area-bipolar" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->
				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">
					<!-- *** Simple Line Chart *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Simple Line Chart
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-chart" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->

	
					<!-- *** Line Chart with Tooltips *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Line Chart Tooltips
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-tooltips" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->
				</div>
				<!-- /row -->

				<!-- row -->
				<div class="row">
					<!-- *** Line Interpolation Chart *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Line Interpolation Chart
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="line-interpolation" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->

	
					<!-- *** Custom Shape Line Chart *** -->
					<div class="col-md-6">
						<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Custom Shape Line chart
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="custom-shape" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6 -->
				</div>
				<!-- /row -->

				<!-- row-->
				<div class="row">
					<!-- *** Scatter Points Chart *** -->
					<div class="col-md-6">
					<!-- panel -->
						<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Scatter Points Chart
									<span class="panel-options">
										<a href="#" class="panel-refresh">
											<i class="icon ti-reload"></i> 
										</a>
										<a href="#" class="panel-minimize">
											<i class="icon ti-angle-up"></i> 
										</a>
										<a href="#" class="panel-close">
											<i class="icon ti-close"></i> 
										</a>
									</span>
								</h3>
							</div>
							<div class="panel-body">
								<div id="demo" class="ct-chart ct-golden-section"></div>
							</div>
						</div>
						<!-- /panel -->
					</div>
					<!-- /col-md-6-->
				</div>
				<!-- /row -->
</div>