<div class="animated fadeInUpBig" ng-controller="nvd3ChartsCtrl">
	<!-- *** Scatter Graphs *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Scatter Charts
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div id="chart4" class='with-3d-shadow with-transitions'>
				<svg> </svg>
			</div>
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Double Head Graphs *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Double Head Graphs
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div id="chart5" class='with-3d-shadow with-transitions'>
				<svg> </svg>
			</div>
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Line and Bar Graphs *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Line and Bar Graphs
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div id="chart1" class='with-3d-shadow with-transitions'>
				<svg> </svg>
			</div>
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Line and Bar Graphs *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Live Graph
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="graph realtime-bar">
				<svg> </svg>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-danger btn-block" id="start-stop-button">Stop Live Stream</button>
			</div>
		</div>
	</div>
	<!-- /panel -->
</div>