<menu-left-bar id="mainMenu" title="Anteros" directory-logo="assets/images/anteros/logo/AnterosHotel 240x61.png">
    <item-menu-icon-left-bar title="Dashboard" class-icon="ti-cut" href-route="app.dashboard"></item-menu-icon-left-bar>
    <item-menu-icon-left-bar title="Menu" class-icon="ti-layout-list-thumb" href-route="app.anteros-menu"></item-menu-icon-left-bar>
    <sub-menu-icon-left-bar id="layouts" title="Unique Layouts" class-icon="ti-layout">
        <item-menu-left-bar title="Collapsed Sidebar" href-rout="collapsed-sidebar"></item-menu-left-bar>
        <item-menu-left-bar title="Menu With Header" href-rout="menu-with-header"></item-menu-left-bar>
        <item-menu-left-bar title="Horizontal Menu" href-rout="horizontal-menu"></item-menu-left-bar>
        <item-menu-left-bar title="Right Sidebar" href-rout="right-sidebar"></item-menu-left-bar>
        <item-menu-left-bar title="Boxed Layout" href-rout="boxed-layout"></item-menu-left-bar>
        <item-menu-left-bar title="Static Sidebar" href-rout="app.dashboard"></item-menu-left-bar>
    </sub-menu-icon-left-bar>
    <sub-menu-icon-left-bar id="piluku_premium" title="Piluku Premium" class-icon="ti-gift">
        <item-menu-left-bar title="Widgets" href="widgets.html"></item-menu-left-bar>
        <item-menu-left-bar title="Tasks" href-route="app.tasks"></item-menu-left-bar>
        <item-menu-left-bar title="Mailbox" href-route="app.mailbox"></item-menu-left-bar>
        <item-menu-left-bar title="Profile" href-route="app.profile"></item-menu-left-bar>
        <item-menu-left-bar title="Invoice" href-route="app.invoice"></item-menu-left-bar>
        <item-menu-left-bar title="Timeline" href-route="app.timeline"></item-menu-left-bar>
        <item-menu-left-bar title="Timeline 2" href-route="app.timeline2"></item-menu-left-bar>
        <item-menu-left-bar title="Pricing" href-route="app.pricing"></item-menu-left-bar>
        <item-menu-left-bar title="Gallery" href-route="app.gallery"></item-menu-left-bar>
        <item-menu-left-bar title="Masonry Gallery" href-route="app.masonry-gallery"></item-menu-left-bar>
        <item-menu-left-bar title="Rotated Gallery" href-route="app.rotated-gallery"></item-menu-left-bar>
    </sub-menu-icon-left-bar>
    <item-menu-icon-left-bar title="Typography" class-icon="ti-smallcap" href-route="app.typography"></item-menu-icon-left-bar>
    <sub-menu-icon-left-bar id="componentes" title="Components" class-icon="ti-briefcase">
        <sub-menu-left-bar id="alerts" title="Alerts">
            <item-menu-left-bar title="Basic Alerts" href-route="app.basic-alerts"></item-menu-left-bar>
            <item-menu-left-bar title="Sweet Alerts" href-route="app.sweet-alerts"></item-menu-left-bar>
            <item-menu-left-bar title="Anteros Basic Alerts" href-route="app.anteros-basic-alerts"></item-menu-left-bar>
        </sub-menu-left-bar>
        <item-menu-left-bar title="Progress Bars" href-route="app.progress-bars"></item-menu-left-bar>
        <item-menu-left-bar title="Dropdowns" href-route="app.dropdowns"></item-menu-left-bar>
        <item-menu-left-bar title="Info Boxes" href-route="app.info-boxes"></item-menu-left-bar>
        <item-menu-left-bar title="Notifications" href-route="app.notifications"></item-menu-left-bar>
        <item-menu-left-bar title="Buttons" href-route="app.buttons"></item-menu-left-bar>
        <item-menu-left-bar title="Tree View" href-route="app.tree-view"></item-menu-left-bar>
        <item-menu-left-bar title="CSS3 Animations" href-route="app.css3-animations"></item-menu-left-bar>
        <item-menu-left-bar title="Sliders" href-route="app.sliders"></item-menu-left-bar>
        <item-menu-left-bar title="Nestable Lists" href-route="app.nestable-lists"></item-menu-left-bar>
        <item-menu-left-bar title="Carousel" href-route="app.carousel"></item-menu-left-bar>
        <item-menu-left-bar title="Portlets" href-route="app.portlets"></item-menu-left-bar>
        <sub-menu-left-bar id="icons" title="Icons">
            <item-menu-left-bar title="Ion Icons" href-route="app.ion-icons"></item-menu-left-bar>
            <item-menu-left-bar title="Font Awesome" href-route="app.fontawesome-icons"></item-menu-left-bar>
            <item-menu-left-bar title="Themify Icons" href-route="app.themify-icons"></item-menu-left-bar>
        </sub-menu-left-bar>
        <item-menu-left-bar title="Tooltips" href-route="app.tooltips"></item-menu-left-bar>
        <item-menu-left-bar title="Labels Badges" href-route="app.labels-badges"></item-menu-left-bar>
        <item-menu-left-bar title="List Groups" href-route="app.list-groups"></item-menu-left-bar>
        <item-menu-left-bar title="Breadcrumbs" href-route="app.breadcrumbs"></item-menu-left-bar>
        <item-menu-left-bar title="Tabs Accordions" href-route="app.tabs-accordions"></item-menu-left-bar>
        <item-menu-left-bar title="File Manager" href-route="app.file-manager"></item-menu-left-bar>
        <item-menu-left-bar title="Modals" href-route="app.modals"></item-menu-left-bar>
        <item-menu-left-bar title="Pagination" href-route="app.pagination"></item-menu-left-bar>
    </sub-menu-icon-left-bar>
</menu-left-bar>
