<div class="animated fadeInUpBig">
	<!-- *** Labels *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Labels
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					General example labels with different sizes.
					<h1>Piluku Template <span class="label label-default">New</span></h1>
					<h2>Piluku Template <span class="label label-primary">New</span></h2>
					<h3>Piluku Template <span class="label label-success">New</span></h3>
					<h4>Piluku Template <span class="label label-warning">New</span></h4>
					<h5>Piluku Template <span class="label label-info">New</span></h5>
					<h6>Piluku Template <span class="label label-danger">New</span></h6>
				</div>
				<!-- /col-md-6 -->
				<div class="col-md-6">
					Add any of the below mentioned modifier classes to change the appearance of a label.
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="50%">Labels</th>
								<th width="50%">Classes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="label label-default">Default</span></td>
								<td><code>.label-default</code></td>
							</tr>
							<tr>
								<td><span class="label label-primary">Primary</span></td>
								<td><code>.label-primary</code></td>
							</tr>
							<tr>
								<td><span class="label label-success">Success</span></td>
								<td><code>.label-success</code></td>
							</tr>
							<tr>
								<td><span class="label label-warning">warning</span></td>
								<td><code>.label-warning</code></td>
							</tr>
							<tr>
								<td><span class="label label-info">info</span></td>
								<td><code>.label-info</code></td>
							</tr>
							<tr>
								<td><span class="label label-danger">Danger</span></td>
								<td><code>.label-danger</code></td>
							</tr>
						</tbody>
					</table>
				</div> <!-- / col-md-6 -->
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Badges *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Badges
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					Built-in styles are included for placing badges.
					<ul class="list-group">
						<li class="list-group-item"><a href="#"><span class="badge pull-right">42</span>Home</a></li>
						<li class="list-group-item"><a href="#"><span class="badge pull-right bg-primary">65</span>Inbox</a></li>
						<li class="list-group-item"><a href="#"><span class="badge pull-right bg-success">58</span>Notifications</a></li>
						<li class="list-group-item"><a href="#"><span class="badge pull-right bg-warning">19</span>Products</a></li>
						<li class="list-group-item"><a href="#"><span class="badge pull-right bg-info">30</span>Orders</a></li>
						<li class="list-group-item"><a href="#"><span class="badge pull-right bg-danger">18</span>Items</a></li>
					</ul>	
				</div>
				<!-- /col-md-6 -->
				<div class="col-md-6">
					Easily highlight new or unread items.
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="50%">Badges</th>
								<th width="50%">Classes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>.badge</code></td>
								<td><span class="badge">42</span></td>
							</tr>
							<tr>
								<td><code>.bg-primary</code></td>
								<td><span class="badge bg-primary">65</span></td>
							</tr>
							<tr>
								<td><code>.bg-success</code></td>
								<td><span class="badge bg-success">58</span></td>
							</tr>
							<tr>
								<td><code>.bg-warning</code></td>
								<td><span class="badge bg-warning">19</span></td>
							</tr>
							<tr>
								<td><code>.bg-info</code></td>
								<td><span class="badge bg-info">30</span></td>
							</tr>
							<tr>
								<td><code>.bg-danger</code></td>
								<td><span class="badge bg-danger">18</span></td>
							</tr>
						</tbody>
					</table>
				</div> <!-- / col-md-6 -->
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Button Badges *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Button Badges
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<button class="btn btn-primary" type="button">
				Home <span class="badge">4</span>
			</button>
			<button class="btn btn-success" type="button">
				Messages <span class="badge">12</span>
			</button>
			<button class="btn btn-info" type="button">
				Notifications <span class="badge">65</span>
			</button>
			<button class="btn btn-danger" type="button">
				Inbox <span class="badge">58</span>
			</button>
			<button class="btn btn-warning" type="button">
				Mails <span class="badge">76</span>
			</button>
			<button class="btn btn-primary" type="button">
				Mails <span class="badge bg-info">76</span>
			</button>
			<button class="btn btn-info" type="button">
				Mails <span class="badge bg-danger">76</span>
			</button>
			<button class="btn btn-warning" type="button">
				Mails <span class="badge bg-success">76</span>
			</button>
		</div>
	</div>
	<!-- /panel -->
</div>