<div class="animated fadeInUpBig" ng-controller="slidersCtrl">
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Range Sliders
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<table class="table table-condensed table-sliders">
				<tbody>
					<tr class="default">
						<td class="col-md-2 col-sm-3 col-xs-5">Simple Start</td>
						<td>
							<input type="text" id="range_01" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Min and Max Values</td>
						<td>
							<input type="text" id="range_02" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Type double and prefix $</td>
						<td>
							<input type="text" id="range_03" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Negative Values</td>
						<td>
							<input type="text" id="range_04" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Fractional Values</td>
						<td>
							<input type="text" id="range_05" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Custom Values</td>
						<td>
							<input type="text" id="range_06" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Months Slider</td>
						<td>
							<input type="text" id="range_07" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Big Values Representation</td>
						<td>
							<input type="text" id="range_08" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Price Slider</td>
						<td>
							<input type="text" id="range_09" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">Custom Prefix</td>
						<td>
							<input type="text" id="range_10" name="example_name" value="" />
						</td>
					</tr>
					<tr class="all">
						<td class="col-md-2 col-sm-3 col-xs-5">From and To values</td>
						<td>
							<input type="text" id="range_11" name="example_name" value="" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- /panel -->

	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Color Pickers
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<table class="table table-condensed table-sliders">
				<tbody>
					<tr class="default">
						<td class="col-md-2 col-sm-3 col-xs-5">Simple Picker</td>
						<td>
							<input type="text" value="a1beef" name="backgound-color" class="pick-a-color form-control">
						</td>
					</tr>

					<tr class="default">
						<td class="col-md-2 col-sm-3 col-xs-5">Advanced Picker</td>
						<td>
							<div id="picker"></div>
						</td>
					</tr>

					<tr class="default">
						<td class="col-md-2 col-sm-3 col-xs-5">Modern Picker</td>
						<td>
							<div id="colorPicker">
						        <a class="color"><div class="colorInner"></div></a>
						        <div class="track"></div>
						        <ul class="dropdown"><li></li></ul>
						        <input type="hidden" class="colorInput"/>
						    </div>
						</td>
					</tr>
														
				</tbody>
			</table>
		</div>
	</div>
	<!-- /panel -->
</div>