<div class="animated fadeInUpBig">
	<!-- *** Infobox 1 *** -->
    <div class="paneltype-heading">Infobox Modal One</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="flatBluec">6,600</h3>
                    <h4>Monthly User</h4>
                </div>
                <div class="right flatBlue">
                    <i class="ion ion-ios-heart-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="flatGreenc">6,600</h3>
                    <h4>peoples in circles</h4>
                </div>
                <div class="right flatGreen">
                    <i class="ion ion-ios-color-filter-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="flatRedc">6,600</h3>
                    <h4>monthly notifications</h4>
                </div>
                <div class="right flatRed">
                    <i class="ion ion-ios-alarm-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="flatOrangec">6,600</h3>
                    <h4>monthly targets</h4>
                </div>
                <div class="right flatOrange">
                    <i class="ion ion-ios-analytics-outline"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 2 *** -->
    <div class="paneltype-heading">Infobox Modal Two</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="flatBluec">6,600</h3>
                    <h4>Monthly User</h4>
                </div>
                <div class="left flatBlue">
                    <i class="ion ion-ios-heart-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="flatGreenc">6,600</h3>
                    <h4>peoples in circles</h4>
                </div>
                <div class="left flatGreen">
                    <i class="ion ion-ios-color-filter-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="flatRedc">6,600</h3>
                    <h4>monthly notifications</h4>
                </div>
                <div class="left flatRed">
                    <i class="ion ion-ios-alarm-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="flatOrangec">6,600</h3>
                    <h4>monthly targets</h4>
                </div>
                <div class="left flatOrange">
                    <i class="ion ion-ios-analytics-outline"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 3 *** -->
    <div class="paneltype-heading">Infobox Modal Three</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-signal primary-info"></i></li>
                    <li>Tower Signal <p>Signals</p></li>
                </ul>
                <div class="info-logo primarybg-info">
                    <i class="ti-signal"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-wand red-info"></i></li>
                    <li>Magic Wand <p>Wand</p></li>
                </ul>
                <div class="info-logo redbg-info">
                    <i class="ti-wand"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-paint-bucket orange-info"></i></li>
                    <li>Paint Bucket <p>Bucket</p></li>
                </ul>
                <div class="info-logo orangebg-info">
                    <i class="ti-paint-bucket"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-comments-smiley green-info"></i></li>
                    <li>Comments Smiley <p>Smiley</p></li>
                </ul>
                <div class="info-logo greenbg-info">
                    <i class="ti-comments-smiley"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 4 *** -->
    <div class="paneltype-heading">Infobox Modal Four</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-signal primary-info"></i></li>
                    <li>Monthly Sales <p>For Sony Mobile Coropration</p></li>
                    <li class="info-value">513</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-wand red-info"></i></li>
                    <li>Weekly Sales <p>For Samsung</p></li>
                    <li class="info-value">1235</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-paint-bucket orange-info"></i></li>
                    <li>Quaterly Sales <p>For Apple</p></li>
                    <li class="info-value">6089</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-comments-smiley green-info"></i></li>
                    <li>Yearly Sales <p>For Motorola</p></li>
                    <li class="info-value">5689</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 5 *** -->
    <div class="paneltype-heading">Infobox Modal Five</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five primarybg-info">
                <div class="logo"><i class="ti-video-camera"></i></div>
                250 Files
                <p>Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five redbg-info">
                <div class="logo"><i class="ti-receipt"></i></div>
                AJI3437KAY
                <p>Recipt Number</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five orangebg-info">
                <div class="logo"><i class="ti-gallery"></i></div>
                260 , 95
                <p>Images, Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five greenbg-info">
                <div class="logo"><i class="ti-cloud"></i></div>
                5.3 TB
                <p>Storage</p>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 6 *** -->
    <div class="paneltype-heading">Infobox Modal Six</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom primary-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="ti-facebook fb-info"></i></li>
                        <li><i class="ti-google google-info"></i></li>
                        <li><i class="ti-twitter twitter-info"></i></li>
                        <li><i class="ti-linkedin linkedin-info"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom red-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="ti-facebook fb-info"></i></li>
                        <li><i class="ti-google google-info"></i></li>
                        <li><i class="ti-twitter twitter-info"></i></li>
                        <li><i class="ti-linkedin linkedin-info"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom orange-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="ti-facebook fb-info"></i></li>
                        <li><i class="ti-google google-info"></i></li>
                        <li><i class="ti-twitter twitter-info"></i></li>
                        <li><i class="ti-linkedin linkedin-info"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom green-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="ti-facebook fb-info"></i></li>
                        <li><i class="ti-google google-info"></i></li>
                        <li><i class="ti-twitter twitter-info"></i></li>
                        <li><i class="ti-linkedin linkedin-info"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 7 *** -->
    <div class="paneltype-heading">Infobox Modal Seven</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven greenbg-info">
                <div class="logo-seven"><i class="ti-widget dark-info-green"></i></div>
                5.3 TB
                <p>Storage</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven redbg-info">
                <div class="logo-seven"><i class="ti-widget dark-info-red"></i></div>
                268
                <p>Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven orangebg-info">
                <div class="logo-seven"><i class="ti-widget dark-info-orange"></i></div>
                900
                <p>Audios</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven primarybg-info">
                <div class="logo-seven"><i class="ti-widget dark-info-primary"></i></div>
                68
                <p>Documents</p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>