<div class="animated fadeInUpBig">
	<div class="row grid">
		<div class="col-md-12">
			<!-- *** Basic Alerts *** -->
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Basic Alerts
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-info">
						Heads up! This alert needs your attention, but it's not super important.
					</div>

					<div class="alert alert-danger">
						Oh snap! Change a few things up and try submitting again.
					</div>

					<div class="alert alert-warning">
						Warning! Best check yo self, you're not looking too good.
					</div>

					<div class="alert alert-success">
						Well done! You successfully read this important alert message.
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
	<!-- /row -->

	<div class="row grid">
		<div class="col-md-12">
			<!-- *** dismissable Alerts *** -->
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Dismissable Alerts
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<!-- Alert Info -->
							<div class="alert alert-info alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<h3>Information Label</h3>
								<p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
								<a href="#fakelink" class="btn btn-info btn-wide">Turn it off now</a>
								<a href="#fakelink" class="btn btn-primary btn-wide">It’s ok</a>
							</div>
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<h3>Error: The change you wanted was rejected.</h3>
								<p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
								<a href="#fakelink" class="btn btn-danger btn-wide">Turn it off now</a>
								<a href="#fakelink" class="btn btn-warning btn-wide">It’s ok</a>
							</div>
						</div><!-- /col-md-6 -->
						<div class="col-md-6">
							<div class="alert alert-success alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<h3>Disc Space was extended twice.</h3>
								<p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
								<a href="#fakelink" class="btn btn-primary btn-wide"><i class="fa fa-check"></i> Hurray!</a>
								<a href="#fakelink" class="btn btn-info btn-wide">Share on twitter</a>
							</div>
							<div class="alert alert-warning alert-dismissable">

								<h3>Hey Warning, Some problems on our servers.</h3>
								<p>An error message is information displayed when an <a class="alert-link" href="#fakelink">unexpected condition occurs</a>, usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.</p>
								<a href="#fakelink" class="btn btn-warning btn-wide">Fix it</a>
								<a href="#fakelink" class="btn btn-success btn-wide">Okey, no probs!</a>
							</div>
						</div><!-- /col-md-6 -->
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
	<!-- /row -->

	<div class="row grid">
		<div class="col-md-12">
			<!-- *** Other Alerts *** -->
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Other Alerts
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="alert bg-warning text-white">
						Alert! you can use an Orange alert
					</div>
					<div class="alert bg-success text-white">
						Great success! you can use green color too
					</div>
					<div class="alert bg-info text-white">
						Important! you can use the blue to display information
					</div>
					<div class="alert bg-danger text-white">
						Error! you can use this background for errors.
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
	<!-- /row -->
</div>
