<div class="animated fadeInUpBig">
     <!--row-->
                <div class="row">
                    <!--                   col-md-12-->
                    <div class="col-md-12">
                        <div class="panel panel-piluku">
                            <!--                       button colors-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Colors
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                                /button colors-->
                            <div class="panel-body">
                                <button class="btn btn-primary">Primary</button>
                                <button class="btn btn-green">Green</button>
                                <button class="btn btn-orange">Orange</button>
                                <button class="btn btn-red">Red</button>
                                <button class="btn btn-success">Success</button>
                                <button class="btn btn-info">Info</button>
                                <button class="btn btn-warning">Warning</button>
                                <button class="btn btn-danger">Danger</button>
                                <button class="btn btn-black">Black</button>
                                <button class="btn btn-white">White</button>
                                <button class="btn btn-gray">Gray</button>
                                <button class="btn btn-default">Default</button>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-12-->
                   
                </div>
                <!-- /row -->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Colors With Border Radius-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Colors With Border Radius
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Colors With Border Radius-->
                            <div class="panel-body">
                                <button class="btn btn-primary btn-radius">Primary</button>
                                <button class="btn btn-green btn-radius">Green</button>
                                <button class="btn btn-orange btn-radius">Orange</button>
                                <button class="btn btn-red btn-radius">Red</button>
                                <br><br>
                                <button class="btn btn-black btn-radius">Black</button>
                                <button class="btn btn-white btn-radius">White</button>
                                <button class="btn btn-gray btn-radius">Gray</button>
                                <button class="btn btn-default btn-radius">Default</button>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-6-->
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Colors With Border Rounded-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Colors With Border Rounded
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Colors With Border Rounded-->
                            <div class="panel-body">
                                       <button class="btn btn-primary btn-round">Primary</button>
                                       <button class="btn btn-green btn-round">Green</button>
                                       <button class="btn btn-orange btn-round">Orange</button>
                                       <button class="btn btn-red btn-round">Red</button>
                                       <br><br>
                                       <button class="btn btn-black btn-round">Black</button>
                                       <button class="btn btn-white btn-round">White</button>
                                       <button class="btn btn-gray btn-round">Gray</button>
                                       <button class="btn btn-default btn-round">Default</button>
                               </div>
                            </div>
                        </div>
                        <!-- /panel -->
                        <!--                    /col-md-6-->
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-12-->
                    <div class="col-md-12">
                        <div class="panel panel-piluku">
                            <!--                            Button Disabled-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Disabled
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Disabled-->
                            <div class="panel-body">
                                <button class="btn btn-primary disabled">Primary</button>
                                <button class="btn btn-green disabled">Green</button>
                                <button class="btn btn-orange disabled">Orange</button>
                                <button class="btn btn-red disabled">Red</button>
                                <button class="btn btn-success disabled">Success</button>
                                <button class="btn btn-info disabled">Info</button>
                                <button class="btn btn-warning disabled">Warning</button>
                                <button class="btn btn-danger disabled">Danger</button>
                                <button class="btn btn-white disabled">White</button>
                                <button class="btn btn-gray disabled">Gray</button>
                                <button class="btn btn-default">Default</button>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-12-->
                    
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Colors With Border Radius Disabled-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Colors With Border Radius Disabled
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Colors With Border Radius Disabled-->
                            <div class="panel-body">
                                <button class="btn btn-primary btn-radius disabled">Primary</button>
                                <button class="btn btn-green btn-radius disabled">Green</button>
                                <button class="btn btn-orange btn-radius disabled">Orange</button>
                                <button class="btn btn-red btn-radius disabled">Red</button>
                                <br><br>
                                <button class="btn btn-black btn-radius disabled">Black</button>
                                <button class="btn btn-white btn-radius disabled">White</button>
                                <button class="btn btn-gray btn-radius disabled">Gray</button>
                                <button class="btn btn-default btn-radius disabled">Default</button>
                            </div>
                        </div>
                    </div>
                    <!--                    /col-md-6-->
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Colors With Border Round Disabled-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Colors With Border Round Disabled
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Colors With Border Round Disabled-->
                            <div class="panel-body">
                                <button class="btn btn-primary btn-round disabled">Primary</button>
                                <button class="btn btn-green btn-round disabled">Green</button>
                                <button class="btn btn-orange btn-round disabled">Orange</button>
                                <button class="btn btn-red btn-round disabled">Red</button>
                                <br><br>
                                <button class="btn btn-black btn-round disabled">Black</button>
                                <button class="btn btn-white btn-round disabled">White</button>
                                <button class="btn btn-gray btn-round disabled">Gray</button>
                                <button class="btn btn-default btn-round disabled">Default</button>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-6-->
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-12-->
                    <div class="col-md-12">
                        <div class="panel panel-piluku">
                            <!--                            Icon Buttons-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Icon Buttons
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Icon Buttons-->
                            <div class="panel-body">
                                <!--                                Button Icon Variants-->
                                <div class="paneltype-heading">Button Icon Variants</div>
                                <button class="btn btn-primary">
                                    <i class="ion ion-link"></i>
                                    <span>Link Button</span>
                                </button>

                                <button class="btn btn-green">
                                    <i class="ion ion-checkmark"></i>
                                    <span>Install Update</span>
                                </button>

                                <button class="btn btn-red">
                                    <span>Right Icon</span>
                                    <i class="ion ion-ios-color-wand"></i>
                                </button>

                                <button class="btn btn-red">
                                    <i class="ion ion-ios-color-wand"></i>
                                    <span>Left Icon</span>
                                </button>

                                <button class="btn btn-orange btn-icon-orange btn-icon-block btn-icon-blockleft">
                                    <i class="ion ion-ios-flame"></i>
                                    <span>Icon Left</span>
                                </button>

                                <button class="btn btn-orange btn-icon-orange btn-icon-block btn-icon-blockright">
                                    <span>Icon Right</span>
                                    <i class="ion ion-ios-flame"></i>
                                </button>
                                <!--                                /Button Icon Variants-->
                                <!--                                Button With Icon Examples-->
                                <div class="paneltype-heading">Button With Icon Examples</div>
                                <button class="btn btn-primary btn-icon">
                                    <i class="ion ion-link"></i>
                                    <span>Link Button</span>
                                </button>

                                <button class="btn btn-green">
                                    <i class="ion ion-checkmark"></i>
                                    <span>Install Update</span>
                                </button>

                                <button class="btn btn-red">
                                    <span>Right Icon Magic Wand</span>
                                    <i class="ion ion-ios-color-wand"></i>
                                </button>

                                <button class="btn btn-green">
                                    <i class="ion ion-ios-snowy"></i>
                                    <span>Left Icon Snowy</span>
                                </button>

                                <button class="btn btn-orange">
                                    <i class="ion ion-ios-flame"></i>
                                    <span>Icon Left Flames</span>
                                </button>

                                <button class="btn btn-primary">
                                    <span>Icon Right Eye</span>
                                    <i class="ion ion-ios-eye"></i>
                                </button>
                                <!--                                /Button With Icon Examples-->
                                <!--                                Button With Icon Block Examples-->
                                <div class="paneltype-heading">Button With Icon Block Examples</div>
                                <button class="btn btn-primary btn-icon-primary btn-icon-block btn-icon-blockleft">
                                    <i class="ion ion-link"></i>
                                    <span>Link Button</span>
                                </button>

                                <button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
                                    <i class="ion ion-checkmark"></i>
                                    <span>Install Update</span>
                                </button>

                                <button class="btn btn-red btn-icon-red btn-icon-block btn-icon-blockright">
                                    <span>Right Icon Magic Wand</span>
                                    <i class="ion ion-ios-color-wand"></i>
                                </button>

                                <button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
                                    <i class="ion ion-ios-snowy"></i>
                                    <span>Left Icon Snowy</span>
                                </button>

                                <button class="btn btn-orange btn-icon-orange btn-icon-block btn-icon-blockleft">
                                    <i class="ion ion-ios-flame"></i>
                                    <span>Icon Left Flames</span>
                                </button>

                                <button class="btn btn-primary btn-icon-primary btn-icon-block btn-icon-blockright">
                                    <span>Icon Right Eye</span>
                                    <i class="ion ion-ios-eye"></i>
                                </button>
                                <!--                                /Button With Icon Block Examples-->
                                <!--                                Button With Icon Only Examples-->
                                <div class="paneltype-heading">Button With Icon Only Examples</div>
                                <button class="btn btn-primary btn-icon-primary">
                                    <i class="ion ion-link"></i>
                                </button>

                                <button class="btn btn-green btn-icon-green">
                                    <i class="ion ion-checkmark"></i>
                                </button>

                                <button class="btn btn-red btn-icon-red">
                                    <i class="ion ion-ios-color-wand"></i>
                                </button>

                                <button class="btn btn-green btn-icon-green">
                                    <i class="ion ion-ios-snowy"></i>
                                </button>

                                <button class="btn btn-orange btn-icon-orange">
                                    <i class="ion ion-ios-flame"></i>
                                </button>

                                <button class="btn btn-primary btn-icon-primary">
                                    <i class="ion ion-ios-eye"></i>
                                </button>
                                <!--                                /Button With Icon Only Examples-->
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-12-->
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Sizes-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Sizes
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Sizes-->
                            <div class="panel-body">
                                <button class="btn btn-primary btn-lg">Large button</button>
                                <br><br>
                                <button class="btn btn-default">Normal button</button>
                                <br><br>
                                <button class="btn btn-green btn-sm">Small button</button>
                                <br><br>
                                <button class="btn btn-orange btn-xs">Extra small button</button>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-6-->
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Sizes-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Blocks
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Sizes-->
                            <div class="panel-body">
                                <button class="btn btn-primary btn-block">Block button</button>
                                <br>
                                <button class="btn btn-red btn-block">Block button</button>
                                <br>
                                <button class="btn btn-orange btn-block">Block button</button>
                                <br>
                                <button class="btn btn-white btn-block">Block button</button>
                            </div>
                        </div>
                        <!-- /panel -->
                        
                    </div>
                    <!--                   /col-md-6-->
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Button Justified-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Justified
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Justified-->
                            <div class="panel-body">
                                <div class="btn-group btn-group-justified">					
                                    <a type="button" class="btn btn-primary bg-lg">Top</a>
                                </div>

                                <br />

                                <div class="btn-group btn-group-justified">					
                                    <a type="button" class="btn btn-primary">Left</a>
                                    <a type="button" class="btn btn-red">Right</a>
                                </div>

                                <br />

                                <div class="btn-group btn-group-justified">					
                                    <a type="button" class="btn btn-black btn-sm">Left</a>
                                    <a type="button" class="btn btn-orange btn-sm">Middle</a>
                                    <a type="button" class="btn btn-primary btn-sm">Right</a>
                                </div>

                                <br />

                                <div class="btn-group btn-group-justified">					
                                    <a type="button" class="btn btn-orange btn-xs">One</a>
                                    <a type="button" class="btn btn-green btn-xs">Two</a>
                                    <a type="button" class="btn btn-red btn-xs">Three</a>
                                    <a type="button" class="btn btn-black btn-xs">Four</a>
                                </div>
                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-6-->
                    <!--                   col-md-6-->
                    <div class="col-md-6">
                        <div class="panel panel-piluku">
                            <!--                            Dropdown Button-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Dropdown Buttons
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Dropdown Button-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel-body">
                                        <div class="paneltype-heading">Dropdown Buttons Examples</div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-toggle="dropdown">
                                                Default Dropdown <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu btn-drop" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-toggle="dropdown">
                                                Default Dropdown With Background <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu btn-drop btn-bgcolor" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-toggle="dropdown">
                                                <span class="caret"></span> Default Dropdown Left
                                            </button>
                                            <ul class="dropdown-menu btn-drop" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel-body">
                                        <div class="paneltype-heading">Dropdown Buttons With Icons</div>
                                        <div class="btn-group">
                                            <button class="btn btn-red btn-icon-red btn-icon-block btn-icon-blockright" data-toggle="dropdown">
                                                Dropdown with Icon<i class="ion ion-link"></i>
                                            </button>
                                            <ul class="dropdown-menu btn-drop btn-bdrred" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="btn-group">
                                            <button class="btn btn-red btn-icon-red btn-icon-block btn-icon-blockright" data-toggle="dropdown">
                                                Dropdown With Icon Background<i class="ion ion-link"></i>
                                            </button>
                                            <ul class="dropdown-menu btn-drop btn-bdrred btn-bgcolor btn-bgred" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="btn-group">
                                            <button class="btn btn-red btn-icon-red btn-icon-block btn-icon-blockleft" data-toggle="dropdown">
                                                <i class="ion ion-link"></i>Dropdown with Icon Left
                                            </button>
                                            <ul class="dropdown-menu btn-drop btn-bdrred" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-6-->
                </div>
                <!--                /row-->
                <!--                row-->
                <div class="row">
                    <!--                   col-md-12-->
                    <div class="col-md-12">
                        <div class="panel panel-piluku">
                            <!--                            Button Group-->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Button Group
                                    <span class="panel-options">
                                        <a href="#" class="panel-refresh">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="#" class="panel-minimize">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="#" class="panel-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </h3>
                            </div>
                            <!--                            /Button Group-->
                            <div class="panel-body">
                                <div class="paneltype-heading">Default Button Group</div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-lg">Left</button>
                                    <button type="button" class="btn btn-primary btn-lg">Middle</button>
                                    <button type="button" class="btn btn-primary btn-lg">Right</button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-red">Left</button>
                                    <button type="button" class="btn btn-red">Middle</button>
                                    <button type="button" class="btn btn-red">Right</button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-orange btn-sm">Left</button>
                                    <button type="button" class="btn btn-orange btn-sm">Middle</button>
                                    <button type="button" class="btn btn-orange btn-sm">Right</button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-green btn-xs">Left</button>
                                    <button type="button" class="btn btn-green btn-xs">Middle</button>
                                    <button type="button" class="btn btn-green btn-xs">Right</button>
                                </div>
                                
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-white" >Left</label>
                                    <label class="btn btn-white" >Middle</label>
                                    <label class="btn btn-white" >Right</label>
                                </div>

                            </div>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!--                    /col-md-12-->
                </div>
                <!--                /row-->

                </div>