<div class="animated">
	    <!--row-->
	<div class="row" ng-controller="galleryCtrl">
	    <div class="col-md-12">
	        <!--                        *** gallery ***-->
	        <div class="panel panel-piluku">
	            <div class="panel-body">
	                <!--gallery-->
	                <div class="form-heading">
	                    Simple Gallery
	                </div>
	                <!--gallery-->
	                <!--                               row-->
	                <div class="row">
	                    <!--                                   col md 12-->
	                    <div class="col-md-12">
	                        <!--                        *** Gallery Items ***-->
	                        <div class="demo" id="gallery">
	                            <ul class="list-inline list-unstyled">
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="this is a normal caption" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#" >
	                                        <img src="assets/images/post2.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post5.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post6.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post7.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                            </ul>
	                        </div>
	                        <!--                        *** /Gallery Items ***-->
	                    </div>
	                    <!--                                    /col md 12-->
	                </div>
	                <!--                                /row-->
	                <!--gallery-->
	                <div class="form-heading">
	                    Galery With Heading & Description
	                </div>
	                <!--gallery-->
	                <!--                               row-->
	                <div class="row">
	                    <!--                                   col md 12-->
	                    <div class="col-md-12">
	                        <!--                        *** Gallery Items ***-->
	                        <div id="freewall" class="free-wall">
	                            <div class="brick">
	                                <img src="assets/images/post6.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post2.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post4.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post1.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post3.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post5.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post2.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post4.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post6.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                            <div class="brick">
	                                <img src="assets/images/post3.jpg" title="this is the caption">
	                                <div class="info">
	                                    <h3>Freewall</h3>
	                                    <h5>Pinterest layout</h5>
	                                </div>
	                            </div>
	                        </div>
	                        <!--                        *** /Gallery Items ***-->
	                    </div>
	                    <!--                                    /col md 12-->
	                </div>
	                <!--                                /row-->
	                <!--gallery-->
	                <div class="form-heading">
	                    Gallery With Height
	                </div>
	                <!--gallery-->
	                <!--                               row-->
	                <div class="row">
	                    <!--                                   col md 12-->
	                    <div class="col-md-12">
	                        <!--                        *** Gallery Items ***-->
	                        <div class="demo" id="gallery_height">
	                            <ul class="list-inline list-unstyled">
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="this is a normal caption" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#" >
	                                        <img src="assets/images/post2.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post5.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post6.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post7.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                            </ul>
	                        </div>
	                        <!--                        *** /Gallery Items ***-->
	                    </div>
	                    <!--                                    /col md 12-->
	                </div>
	                <!--                                /row-->
	                <!--gallery-->
	                <div class="form-heading">
	                    Gallery Reverse Animation
	                </div>
	                <!--gallery-->
	                <!--                               row-->
	                <div class="row">
	                    <!--                                   col md 12-->
	                    <div class="col-md-12">
	                        <!--                        *** Gallery Items ***-->
	                        <div class="demo" id="gallery_reverse">
	                            <ul class="list-inline list-unstyled">
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="this is a normal caption" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#" >
	                                        <img src="assets/images/post2.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description goes here" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post5.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post6.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post7.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post1.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post3.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <img src="assets/images/post4.jpg" title="description for this image" />
	                                    </a>
	                                </li>
	                            </ul>
	                        </div>
	                        <!--                        *** /Gallery Items ***-->
	                    </div>
	                    <!--                                    /col md 12-->
	                </div>
	                <!--                                /row-->
	            </div>
	        </div>
	        <!--                        *** /gallery ***-->
	        <!-- /panel -->
	    </div>
	</div>
	<!-- /row -->
</div>