                <!--row-->
                <div class="row">
                    <div class="col-md-12">
                        <!--                        *** Invoice ***-->
                        <div class="panel panel-piluku">
                            <div class="panel-body">
                                <!--                               compamy title-->
                                <div class="invoice">invoice</div>
                                <div class="company-title">
                                    keen labs
                                    <div class="company-addess">
                                        47-6-10, 4th lane, Srinivas Naga,
                                        <br> A.V.A. Road, Rajahmundry, India - 533103
                                    </div>
                                </div>
                                <!--                                /company title                -->
                                <!--                                col md 3-->
                                <div class="col-md-3">
                                    <!--                        *** client address ***-->
                                    <div class="client-address">
                                        <div class="client-heading">
                                            client address
                                        </div>
                                        Company Name Inc.,
                                        <br> 216-3, 3rd Street,
                                        <br> Gandhi Puram - 1,
                                        <br> Visakapatnam, India - 540260
                                    </div>
                                    <!--                        *** /client address ***-->
                                    <!--                        *** invoice details ***-->
                                    <div class="invoice-details">
                                        <span>invoice no:</span>#5390846503
                                        <br>
                                        <span>Invoice Date:</span>31-03-2015
                                    </div>
                                    <!--                        *** /invoice details ***-->
                                </div>
                                <!--                      /col md 3          -->
                                <!--                                col md 3-->
                                <div class="col-md-3 col-md-offset-6">
                                    <!--                        *** payment details ***-->
                                    <div class="client-address bottom-pad">
                                        <div class="client-heading">
                                            payment details
                                        </div>
                                    </div>
                                    <div class="invoice-details">
                                        <span>V.A.T Reg #:</span> 598713569
                                        <br>
                                        <span>Account Name:</span> Company Ltd
                                        <br>
                                        <span>SWIFT code:</span> HDFC0000590
                                        <br>
                                        <span>Date</span>20-03-2015
                                        <br>
                                        <span>due</span>31-03-2015
                                    </div>
                                    <!--                        *** /payment details ***-->
                                </div>
                                <!--                      /col md 3          -->
                                <!--                        *** Products Table ***-->
                                <!--                                col md 12-->
                                <div class="col-md-12">
                                    <!--                                   table responsive-->
                                    <div class="table-responsive">
                                        <table class="table invoice-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>item</th>
                                                    <th>description</th>
                                                    <th>unit price</th>
                                                    <th>quantity</th>
                                                    <th>total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Sony Xperia Z3</td>
                                                    <td>Do more than you thought possible</td>
                                                    <td>$ 995.00</td>
                                                    <td>1</td>
                                                    <td>$ 995.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Sony Smartwatch 3</td>
                                                    <td>Powered by Android Wear</td>
                                                    <td>$ 250.00</td>
                                                    <td>2</td>
                                                    <td>$ 500.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Sandisk 32gb MicroSD</td>
                                                    <td>32gb MicroSD wirh class10 Highly Poweful</td>
                                                    <td>$ 55.00</td>
                                                    <td>1</td>
                                                    <td>$ 55.00</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Sony Xperia Z2</td>
                                                    <td>True digital camera quality in a waterproof</td>
                                                    <td>$ 995.00</td>
                                                    <td>1</td>
                                                    <td>$ 995.00</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Sony Smartwatch 2</td>
                                                    <td>Made for Android</td>
                                                    <td>$ 250.00</td>
                                                    <td>2</td>
                                                    <td>$ 500.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--                                    /table responsive-->
                                </div>
                                <!--                                /col md 12-->
                                <!--                        *** /Products Table ***-->
                                <!--                        *** /Invoice Note ***-->
                                <!--                                col md 6-->
                                <div class="col-md-6">
                                    <div class="client-address">
                                        <div class="client-heading">
                                            invoice note:
                                        </div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam at lacus et scelerisque. Sed feugiat semper ullamcorper. Cras in magna ligula. Nulla dolor ex, ultricies in faucibus at, iaculis fermentum dui. Cras finibus ornare porttitor.
                                    </div>
                                    <a href="#" class="btn btn-primary btn-icon-primary btn-icon-block btn-icon-blockleft invoice-btn">
                                        <i class="ion ion-printer"></i>
                                        <span>Print</span>
                                    </a>
                                    <a href="#" class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft invoice-btn">
                                        <i class="ion ion-email"></i>
                                        <span>Email</span>
                                    </a>
                                </div>
                                <!--                                /col md 6-->
                                <!--                        *** /Invoice Note ***-->
                                <!--                        *** /total payment ***-->
                                <!--                                col md 3-->
                                <div class="col-md-2 col-md-offset-2 col-sm-4 col-xs-6">
                                    <ul class="list-unstyled">
                                        <div class="total-payment">
                                            Sub Total:
                                        </div>
                                        <div class="total-payment">
                                            shipping fee:
                                        </div>
                                        <div class="total-payment">
                                            VAT Tax (12%):
                                        </div>
                                        <div class="total-payment total-primary">
                                            Grand Total:
                                        </div>
                                    </ul>
                                </div>
                                <!--                                /col md 3-->
                                <!--                                col md 3-->
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <ul class="list-unstyled">
                                        <div class="payment-value">
                                            $ 3,045
                                        </div>
                                        <div class="payment-value">
                                            $ 0.00
                                        </div>
                                        <div class="payment-value">
                                            $ 365.40
                                        </div>
                                        <div class="payment-value total-primary">
                                            $ 3410.40
                                        </div>
                                    </ul>
                                </div>
                                <!--                                /col md 3-->
                                <!--                        *** /total payment ***-->
                            </div>
                        </div>
                        <!--                        *** /Invoice ***-->
                        <!-- /panel -->
                    </div>
                </div>
                <!-- /row -->