<div class="animated">
						<div class="mail_holder">						
						<div class="mail_menu_block no_padding col-md-4 col-sm-6 col-xs-12 col-lg-2">
							<div class="mail_menu">
								<div class="compose_block">
									<a href="#" class="btn btn-info btn-block"><i class="ti-pencil-alt"></i>compose</a>
								</div>
								<ul class="list-unstyled menu_list">
									<li><a href="#"><i class="ti-package"></i> Inbox</a></li>
									<li><a href="#"><i class="ti-truck"></i>Sent</a></li>
									<li><a href="#"><i class="ti-briefcase"></i>Drafts</a></li>
									<li><a href="#"><i class="ti-trash"></i>Trash</a></li>
									<li><a href="#"><i class="ti-star"></i>Starred</a></li>
									<li><a href="#"><i class="ti-hand-open"></i> Spam</a></li>
									<li><a href="#"><i class="ti-bookmark-alt"></i> Archived</a></li>
								</ul>
								<ul class="list-unstyled recent_activity">
									<div class="heading">Recent activity <span class="pull-right"><a href="#"><i class="ti-reload"></i></a></span></div>
									<li>
										<a href="#">
											<div class="img_holder">
												<img src="assets/images/avatar/four.png" alt="">
											</div>
											<h2>Tupakula vijay</h2>
											<p>added a browser stack to our project with the help of keen desk</p>
										</a>
										<a href="#">
											<div class="img_holder">
												<img src="assets/images/avatar/five.png" alt="">
											</div>
											<h2>Lakshman kumar</h2>
											<p>fixed all the merge conflicts that occured in the index page</p>
										</a>
										<a href="#">
											<div class="img_holder">
												<img src="assets/images/avatar/six.png" alt="">
											</div>
											<h2>Venkatesh chitturi</h2>
											<p>i have sent funny videos with url :)</p>
										</a>
									</li>									
								</ul>								
							</div>
							<!-- mail-menu -->
						</div>
						<!-- col-md-2 -->
						<div class="mail_body">								
							<div class="mail_list_block col-md-4 col-sm-6 no_padding col-xs-12 col-lg-4">
								<div class="mail_list">
									<div class="search_bar_block">													    
										<div class="search_icon_block">
											<input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status" placeholder="search for mails">
											<span class="ion-search form-control-feedback" aria-hidden="true"></span>		
										</div>
									</div>
									<ul class="list-unstyled mails_holder">
										<li>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/two.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Praveen kaligatla</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatRedc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Research have been going on the project will report the results asap in a few days.</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/one.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Tupakula Vijay</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreenc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Searching for the best cafe around ?? come to meet at given location.</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block unread">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/three.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Anusha</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreenc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>should release the project in the given date work hard.come on guys lets do it</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/four.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Venkatesh chitturi</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreyc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Got selected as ias officer happy to tell ya . will give party soon</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/five.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Lakshman Kumar</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreyc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>hell yeah i got no fear lets rock the world :P </h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/six.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Paris hilton</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreyc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Today recharge with free charge Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque esse repellendus, ratione doloribus tempore. Sit expedita est, dignissimos, amet in error placeat voluptates tempore saepe dolores quas nobis. Optio!</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/nine.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Paul walker</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreyc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Today recharge with free charge Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque esse repellendus, ratione doloribus tempore. Sit expedita est, dignissimos, amet in error placeat voluptates tempore saepe dolores quas nobis. Optio!</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/seven.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Paul walker</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreenc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Today recharge with free charge Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque esse repellendus, ratione doloribus tempore. Sit expedita est, dignissimos, amet in error placeat voluptates tempore saepe dolores quas nobis. Optio!</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/eight.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Paul walker</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreyc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Today recharge with free charge Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque esse repellendus, ratione doloribus tempore. Sit expedita est, dignissimos, amet in error placeat voluptates tempore saepe dolores quas nobis. Optio!</h4>
													</div>
													<!-- right -->													
												</div>
											</a>
											<a href="#">
												<div class="message_list_block">
													<div class="left">
														<div class="avatar_holder">
															<img src="assets/images/avatar/nine.png" alt="">
														</div>
													</div>
													<div class="right">
														<span class="name">Paul walker</span>
														<span class="pull-right right_details">
															<ul class="list-unstyled list-inline">
																<li>12:30</li>
																<li><i class="ion ion-record flatGreenc status"></i></li>
																<li><i class="ion-android-attach"></i></li>
															</ul>
														</span>
														<h4>Today recharge with free charge Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque esse repellendus, ratione doloribus tempore. Sit expedita est, dignissimos, amet in error placeat voluptates tempore saepe dolores quas nobis. Optio!</h4>
													</div>
													<!-- right -->													
												</div>
											</a>										
										</li>												
									</ul>
								</div>
								<!-- mail-list -->
							</div>
							<!-- col-md-4 -->
							<!-- mail_list_block -->									
							<div class="col-md-4 col-lg-6 col-sm-12 col-xs-12 no_padding mail_brief_holder">
								<div class="heading_block">
									<h1>Project discussion <span>today 12.30am</span></h1>
									<div class="btn-group pull-right action_buttons" role="group" aria-label="...">
									  <button type="button" class="btn btn-default"><i class="ion-reply"></i></button>
									  <button type="button" class="btn btn-default"><i class="ion-reply-all"></i></button>
									  <button type="button" class="btn btn-default"><i class="ion-android-arrow-forward"></i></button>
									  <button type="button" class="btn btn-default"><i class="ion-android-attach"></i></button>
									  <button type="button" class="btn btn-default"><i class="ion-ios-trash"></i></button>
									</div>
								</div>
								<!-- heading_block -->
								<div class="mail_brief_body">
									<img src="assets/images/sample.jpg" alt="">
									<h4>lets do it today!</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus maxime odio facilis, corporis eum impedit ea,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis est, mollitia in! Reprehenderit voluptatem, porro distinctio iste in eos quam dicta sunt at fuga! Facilis inventore laboriosam perferendis placeat, delectus!</p>
									<ul class="list-group attachment">
									  <li class="list-group-item">									    
									    <a href="#"><i class="ti-microsoft-alt flatBluec"></i> Windows.exe <span><i class="ti-download"></i></span></a>
									  </li>									  
									  <li class="list-group-item">									    
									    <a href="#"><i class="ti-android flatGreenc"></i> andriod.apk <span><i class="ti-download"></i></span></a>
									  </li>
									  <li class="list-group-item">									    
									    <a href="#"><i class="ti-cloud-down"></i> download all<span><i class="ti-download"></i></span></a>
									  </li>
									</ul>
									<textarea class="form-control" rows="4" placeholder="enter message here.."></textarea>
									<a href="#" class="btn btn-primary reply">Reply message</a>
								</div>
								<!-- mail_brief_body -->
							</div>
						</div>
						<!-- mail-body -->											
					</div>
					<!-- mail-holder -->	
</div>