<div class="animated fadeInUpBig" ng-controller="masonryCtrl">
	<!--row-->
   	<div class="row">
        <div class="col-md-12">
            <!--                        *** gallery ***-->
            <div class="panel panel-piluku">
                <div class="panel-body">
                    <!--gallery-->
                    <div class="form-heading">
                        Gallery Masonry
                    </div>
                    <!--gallery-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 12-->
                        <div class="col-md-12">
                            <!--                        *** Gallery Items ***-->
                            
                            <div id="gallery">
                                <div id="gallery-header">
                                    <div id="gallery-header-center">
                                        <div id="gallery-header-center-left">
                                            <div id="gallery-header-center-left-icon">
                                                <i class="ion-arrow-resize"></i>
                                            </div>
                                            <div id="gallery-header-center-left-title">All Galleries</div>
                                        </div>
                                        <div id="gallery-header-center-right">
                                            <div class="gallery-header-center-right-links" id="filter-all">All</div>
                                            <div class="gallery-header-center-right-links" id="filter-studio">Studio</div>
                                            <div class="gallery-header-center-right-links" id="filter-landscape">Landscapes</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="gallery-content">
                                    <div id="gallery-content-center">
                                        <a href="assets/images/post1.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post1.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post2.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post2.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post3.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post3.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post4.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post4.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post5.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post5.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post6.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post6.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post6.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post6.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post5.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post5.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post4.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post4.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post3.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post3.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post2.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post2.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post1.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post1.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post1.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post1.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post2.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post2.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post3.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post3.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post4.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post4.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post5.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post5.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post6.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post6.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post6.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post6.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post5.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post5.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post4.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post4.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post3.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post3.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post2.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post2.jpg" alt="post" class="all landscape">
                                        </a>
                                        <a href="assets/images/post1.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post1.jpg" alt="post" class="all studio" />
                                        </a>
                                        <a href="assets/images/post1.jpg" class="lightbox_trigger">
                                            <img src="assets/images/post1.jpg" alt="post" class="all landscape">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--                        *** /Gallery Items ***-->
                        </div>
                        <!--                                    /col md 12-->
                    </div>
                    <!--                                /row-->
                </div>
            </div>
            <!--                        *** /gallery ***-->
            <!-- /panel -->
        </div>
    </div>
    <!-- /row -->
</div>