<div class="animated">
        <!--row-->
    <div class="row">
        <div class="col-md-12">
            <!--                        *** Pricing Tables ***-->
            <!--pricing table-->
            <div class="form-heading">
                Pricing Table Modal 1
            </div>
            <!--pricing table-->
            <!--                               row-->
            <div class="row">
                <!--                                   col md 4-->
                <div class="col-md-4">
                    <div class="pricing-header">
                        starter
                    </div>
                    <div class="pricing-price">
                        $99<span>/mo</span>
                    </div>
                    <ul class="list-unstyled pricing-features">
                        <li><span>1</span> website</li>
                        <li><span>1</span> domains & <span>2</span> sub-domains</li>
                        <li><span>100</span> email accounts</li>
                        <li><span>1 TB</span> storage</li>
                        <li><span>unlimited</span> website themes</li>
                        <li>24/7 customer support</li>
                        <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                    </ul>
                </div>
                <!--                                    /col md 4-->
                <!--                                   col md 4-->
                <div class="col-md-4">
                    <div class="pricing-header">
                        Intermediate
                        <div class="pricing-recommended">
                            <i class="ion ion-heart"></i>
                        </div>
                    </div>
                    <div class="pricing-price">
                        $199<span>/mo</span>
                    </div>
                    <ul class="list-unstyled pricing-features">
                        <li><span>10</span> websites</li>
                        <li><span>4</span> domains & <span>20</span> sub-domains</li>
                        <li><span>500</span> email accounts</li>
                        <li><span>2 TB</span> storage</li>
                        <li><span>unlimited</span> website themes</li>
                        <li>24/7 customer support</li>
                        <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                    </ul>
                </div>
                <!--                                    /col md 4-->
                <!--                                   col md 4-->
                <div class="col-md-4">
                    <div class="pricing-header">
                        Extreme
                    </div>
                    <div class="pricing-price">
                        $299<span>/mo</span>
                    </div>
                    <ul class="list-unstyled pricing-features">
                        <li><span>unlimited</span> websites</li>
                        <li><span>unlimited</span> domains & sub-domains</li>
                        <li><span>unlimited</span> email accounts</li>
                        <li><span>unlimited</span> storage</li>
                        <li><span>unlimited</span> website themes</li>
                        <li>24/7 customer support</li>
                        <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                    </ul>
                </div>
                <!--                                    /col md 4-->
            </div>
            <!--                                /row-->
            <!--pricing table-->
            <div class="form-heading">
                pricing table modal two
            </div>
            <!--pricing table-->
            <!--                               row-->
            <div class="row">
                <div class="pricing">
                    <div class="col-md-offset-2 col-md-2">
                        <div class="pricing-header pricing-header-two">
                            Starter
                            <div class="pricing-price-two">
                                $99<span>/mo</span>
                            </div>
                        </div>
                        <ul class="list-unstyled pricing-features features-two">
                            <li><span>2</span> website</li>
                            <li><span>1</span> domains & <span>2</span> sub-domains</li>
                            <li><span>100</span> email accounts</li>
                            <li><span>1 TB</span> storage</li>
                            <li><span>unlimited</span> website themes</li>
                            <li>24/7 customer support</li>
                            <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="pricing-header pricing-header-two">
                            Intermediate
                            <div class="pricing-price-two">
                                $199<span>/mo</span>
                            </div>
                        </div>
                        <ul class="list-unstyled pricing-features features-two">
                            <li><span>10</span> websites</li>
                            <li><span>4</span> domains & <span>20</span> sub-domains</li>
                            <li><span>500</span> email accounts</li>
                            <li><span>5 TB</span> storage</li>
                            <li><span>unlimited</span> website themes</li>
                            <li>24/7 customer support</li>
                            <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="pricing-header pricing-header-two">
                            Pro
                            <div class="pricing-recommended">
                                <i class="ion ion-heart"></i>
                            </div>
                            <div class="pricing-price-two">
                                $299<span>/mo</span>
                            </div>
                        </div>
                        <ul class="list-unstyled pricing-features features-two">
                            <li><span>20</span> website</li>
                            <li><span>40</span> domains & <span>80</span> sub-domains</li>
                            <li><span>900</span> email accounts</li>
                            <li><span>10 TB</span> storage</li>
                            <li><span>unlimited</span> website themes</li>
                            <li>24/7 customer support</li>
                            <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="pricing-header pricing-header-two">
                            Extreme
                            <div class="pricing-price-two">
                                $399<span>/mo</span>
                            </div>
                        </div>
                        <ul class="list-unstyled pricing-features features-two">
                            <li><span>unlimited</span> websites</li>
                            <li><span>unlimited</span> domains</li>
                            <li><span>unlimited</span> email accounts</li>
                            <li><span>unlimited</span> storage</li>
                            <li><span>unlimited</span> website themes</li>
                            <li><span>unlimited</span> domains</li>
                            <li>24/7 customer support</li>
                            <li> <a href="#" class="btn btn-primary btn-lg">Buy Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--                                /row-->
        </div>
    </div>
    <!--                        *** /Pricing Tables ***-->
    <!-- /panel -->
    </div>
    </div>
    <!-- /row -->
</div>