<div class="animated fadeInUpBig" ng-controller="rotatedGalleryCtrl">
	<!--row-->
    <div class="row">
        <div class="col-md-12">
            <!--                        *** gallery ***-->
            <div class="panel panel-piluku">
                <div class="panel-body">
                    <!--gallery-->
                    <div class="form-heading">
                        Rotated Gallery
                    </div>
                    <!--gallery-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 12-->
                        <div class="col-md-12">
                            <!--                        *** Gallery Items ***-->
                            <div id="popup">
                                <div id="popup-box">
                                    <div id="popup-box-close"><i class="ion ion-ios-close-empty"></i>
                                    </div>
                                    <img id="popup-box-image" />
                                </div>
                            </div>

                            <div id="wrapper">
                                <div id="gallery">

                                    <div class="gallery-tab">
                                        <div class="gallery-tab-title">
                                            <div class="gallery-tab-title-holder">
                                                <div class="gallery-tab-title-holder-controls">
                                                    <div class="gallery-tab-title-holder-controls-button previous">
                                                        <i class="ion ion-ios-arrow-left"></i>
                                                    </div>
                                                    <div class="gallery-tab-title-holder-controls-button next">
                                                        <i class="ion ion-ios-arrow-right"></i>
                                                    </div>
                                                </div>
                                                <div class="gallery-tab-title-holder-text">Portfolio Gallery</div>
                                            </div>
                                        </div>
                                        <div class="gallery-tab-images">
                                            <div class="gallery-tab-images-slider">
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg"alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post2.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post4.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post6.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg" alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="gallery-tab">
                                        <div class="gallery-tab-title">
                                            <div class="gallery-tab-title-holder">
                                                <div class="gallery-tab-title-holder-controls">
                                                    <div class="gallery-tab-title-holder-controls-button previous">
                                                        <i class="ion ion-ios-arrow-left"></i>
                                                    </div>
                                                    <div class="gallery-tab-title-holder-controls-button next">
                                                        <i class="ion ion-ios-arrow-right"></i>
                                                    </div>
                                                </div>
                                                <div class="gallery-tab-title-holder-text">Studio Gallery</div>
                                            </div>
                                        </div>
                                        <div class="gallery-tab-images">
                                            <div class="gallery-tab-images-slider">
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg"alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post2.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post4.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post6.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg" alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="gallery-tab">
                                        <div class="gallery-tab-title">
                                            <div class="gallery-tab-title-holder">
                                                <div class="gallery-tab-title-holder-controls">
                                                    <div class="gallery-tab-title-holder-controls-button previous">
                                                        <i class="ion ion-ios-arrow-left"></i>
                                                    </div>
                                                    <div class="gallery-tab-title-holder-controls-button next">
                                                        <i class="ion ion-ios-arrow-right"></i>
                                                    </div>
                                                </div>
                                                <div class="gallery-tab-title-holder-text">Potrait Gallery</div>
                                            </div>
                                        </div>
                                        <div class="gallery-tab-images">
                                            <div class="gallery-tab-images-slider">
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg"alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post2.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post4.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post6.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post5.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post3.jpg" alt=""/>
                                                </div>
                                                <div class="gallery-tab-images-slider-tab">
                                                    <div class="gallery-tab-images-slider-tab-hover"><i class="ion ion-ios-color-filter-outline"></i>
                                                    </div><img src="assets/images/post1.jpg" alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                        *** /Gallery Items ***-->
                        </div>
                        <!--                                    /col md 12-->
                    </div>
                    <!--                                /row-->
                </div>
            </div>
            <!--                        *** /gallery ***-->
            <!-- /panel -->
        </div>
    </div>
    <!-- /row -->
</div>