<div class="animated" ng-controller="tasksCtrl">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 nopad-right">
			<div class="piluku-panel no-pad todo_widget panel">						
				<div class="todo_heading">
					<div class="left-icon">
						<div class="ms-hover">
							<input type="checkbox" class="mark-all" id="todo">
							<label for="todo"><span></span></label>
						</div>
					</div> 
					Add Tasks Dynamically 
					<a href="#" class="right-icon">
						<i class="ion-ios-bell"></i>
					</a>
				</div>		

				
				<ul class="list-group list-todo">								
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo1">
							<label for="todo1"><span></span>Call Head branch</label>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo2">
							<label for="todo2"><span></span>check the postings</label>
						</div>
						<div class="notification">
							<i class="ion-ios-bell-outline"></i>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo3">
							<label for="todo3"><span></span>Recharge the Battery</label>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo4">
							<label for="todo4"><span></span>Jog for 30 minutes</label>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo5">
							<label for="todo5"><span></span>Check for updates</label>
						</div>
						<div class="notification">
							<i class="ion-ios-bell-outline"></i>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo6">
							<label for="todo6"><span></span>call for tim</label>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo7">
							<label for="todo7"><span></span>Fix bugs</label>
						</div>
					</li>
					<li class="list-group-item">
						<div class="ms-hover">
							<input type="checkbox" class="mark-complete" id="todo8">
							<label for="todo8"><span></span>Send mail</label>
						</div>
					</li>							
					<li class="list-group-item add-to-input">
						<input type="text" class="form-control" name="add_todo" id="add_todo" placeholder="Add new task here...">
					</li>
				</ul>
			</div>
			<!-- panel -->
		</div>
		<!-- col-md-6 -->
	</div>
</div>