<div class="error-bg">
	<div class="wrapper">
        <div class="container">
            <div class="error">
                <img ng-src="app/modules/utility/images/404.png" class="img-responsive center-block" alt="404">
                <div class="error-message">
                    Oops! Page Not Found
                </div>
                <div class="error-bottom">
                    <a href="index.html" class="btn btn-primary">Hey, Take Me Home</a>
                    <div class="report-error">
                        or <a href="#">Report Issue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wrapper -->
</div>