<div class="error-bg">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 error">
            <img ng-src="app/modules/utility/images/505.png" class="img-responsive center-block" alt="505">
            <div class="error-message-two">
                Whoops!
            </div>
            <div class="error-bottom-two">
                The page you are looking for could have been deleted or never been existed. <a href="index.html">Take me to Home Page</a>
            </div>
        </div>
    </div>
</div>