<div class="animated fadeInUpBig">
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				FAQ Question Asked
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-8">
				<p>These are frequently asked questions in general</p>
				<div class="panel-group piluku-accordion piluku-accordion-two" id="accordionOne" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalOne" aria-expanded="true" aria-controls="collapseOne">
                                    FAQ #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi praesentium similique totam odio obcaecati, reprehenderit, dignissimos rem temporibus ea inventore alias! Beatae animi nemo ea tempora, temporibus laborum facilis ut!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalTwo">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    FAQ #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, reiciendis corporis molestias inventore rem cum dolorem! Cupiditate aliquid soluta, officiis sunt officia quo, debitis id vel nemo distinctio esse, ex.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalThree" aria-expanded="false" aria-controls="collapseThree">
                                    FAQ #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalFour" aria-expanded="false" aria-controls="collapseThree">
                                    FAQ #4
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalFive" aria-expanded="false" aria-controls="collapseThree">
                                    FAQ #5
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalSix" aria-expanded="false" aria-controls="collapseThree">
                                    FAQ #6
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingModalSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseModalSeven" aria-expanded="false" aria-controls="collapseThree">
                                    FAQ #7
                                </a>
                            </h4>
                        </div>
                        <div id="collapseModalSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                </div>	
			</div>
			<div class="col-md-4">
				<p><i class="ion ion-ios-list-outline"></i> Categories</p>
				<div class="panel-group piluku-accordion" id="accordionOne" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategoryOne" aria-expanded="true" aria-controls="collapseOne">
                                    Lorem
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategoryOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi praesentium similique totam odio obcaecati, reprehenderit, dignissimos rem temporibus ea inventore alias! Beatae animi nemo ea tempora, temporibus laborum facilis ut!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalTwo">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategoryTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Ipsum
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategoryTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, reiciendis corporis molestias inventore rem cum dolorem! Cupiditate aliquid soluta, officiis sunt officia quo, debitis id vel nemo distinctio esse, ex.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategoryThree" aria-expanded="false" aria-controls="collapseThree">
                                    Consectetur
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategoryThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategoryFour" aria-expanded="false" aria-controls="collapseThree">
                                    Voluptatem
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategoryFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategoryFive" aria-expanded="false" aria-controls="collapseThree">
                                    Adipisicing
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategoryFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategorySix" aria-expanded="false" aria-controls="collapseThree">
                                    Necessitatibus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategorySix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="categoryModalSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseCategorySeven" aria-expanded="false" aria-controls="collapseThree">
                                    Dolore
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCategorySeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quisquam ut voluptates, alias quae odio dolore ex enim quis voluptatem obcaecati perferendis necessitatibus similique voluptate provident tempora iure mollitia dolores.
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<!-- /panel -->
</div>