<div class="animated fadeInUpBig">
	<!-- First Row -->
	<div class="row grid">
		<div class="col-md-3" id="div_1">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 1
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>

		<!-- /col-md-3 -->
		<div class="col-md-3" id="div_2">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 2
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-3 -->

		<div class="col-md-3" id="div_3">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 3
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-3 -->

		<div class="col-md-3" id="div_4">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 4
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-3 -->
	</div>
	<!-- /First row -->

	<!-- Second Row -->
	<div class="row grid">
		<div class="col-md-4" id="div_5">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 5
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>

		<!-- /col-md-4 -->
		<div class="col-md-4" id="div_6">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 6
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-4 -->

		<div class="col-md-4" id="div_7">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 7
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-4 -->
	</div>
	<!-- /Second row -->

	<!-- Third Row -->
	<div class="row grid">
		<div class="col-md-6" id="div_7">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 7
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->

		<div class="col-md-6" id="div_9">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 9
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->
	</div>
	<!-- /Third row -->

	<!-- Fourth Row -->
	<div class="row grid">
		<div class="col-md-7" id="div_10">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 10
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-7 -->

		<div class="col-md-5" id="div_11">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 11
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-5 -->
	</div>
	<!-- /Fourth row -->

	<!-- Fourth Row -->
	<div class="row grid">
		<div class="col-md-3" id="div_12">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 12
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-3 -->

		<div class="col-md-6" id="div_13">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 13
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book.  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->

		<div class="col-md-3" id="div_14">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Portlet 14
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-3 -->
	</div>
	<!-- /Fifth row -->
</div>