<div class="animated fadeInUpBig">
	<!-- *** Breadcrumbs *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Breadcrumbs
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<ol class="breadcrumb">
			  <li class="active">Home</li>
			 </ol>
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li class="active">Category</li>
			 </ol>		
			 <ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Category</a></li>
			  <li class="active">Product</li>
			</ol>
			<ul class="breadcrumb">
	             <li><a href="#">Home</a></li>
	             <li><a href="#">Category</a></li>
	             <li><a href="#">Product</a></li>
	             <li class="active">Sub Product</li>
	         </ul>
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Jumbotron *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Jumbotron
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<blockquote>
	           <p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site.</p>
	         </blockquote>
			<div class="jumbotron">
			  <h1>Hello, world!</h1>
			  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
	</div>
	<!-- /panel -->

	<!-- *** Wells *** -->
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Wells
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<blockquote>
	           <p>Use the well as a simple effect on an element to give it an inset effect.</p>
	        </blockquote>
			<div class="well">Many a small thing has been made large by the right kind of advertising.
				</div>
				<div class="well well-lg">
             Do the difficult things while they are easy and do the great things while they are small. A journey of a thousand miles must begin with a single step.
           </div>
           <div class="well well-sm">
             Do the difficult things while they are easy and do the great things while they are small. A journey of a thousand miles must begin with a single step.
           </div>
		</div>
	</div>
	<!-- /panel -->
</div>